---
import FeatureCard from "./Feature-card.astro";
import { Image } from "astro:assets";

const { title, description, svg, width, height, customClass } = Astro.props
---
<div class:list={[`h-[335px] w-[311px] flex flex-col justify-around text-3xl font-bold underline text-sextiary-color rounded-[35px] glass-background-mid-card p-8 ${customClass}`]}>

    <FeatureCard title={title} fontWeight="font-semibold" letterSpacing="tracking-[0.035em]" fontColor="text-sextiary/70"></FeatureCard>
    <p set:html={description} class="text-sextiary/90 font-semibold text-[0.85rem] leading-6 text-center"></p>
    <Image src={svg} alt="Ãcone card" class="mx-auto">
</div>

<style>
    .glass-background-mid-card {
        background: rgb(34,209,238);
        background: linear-gradient(141deg, rgba(34,209,238, 0.1) 10%, rgba(31,66,135, 0.05) 70%);
        box-shadow: 0 8px 32px 0 rgba( 34,209,238, 0.05 );
        backdrop-filter: blur( 12px );
        -webkit-backdrop-filter: blur( 12px );
        border: 1px solid rgba( 255, 255, 255, 0.1 );
    }

</style>