---
const { title, fontSize, fontWeight, fontColor, borderColor, letterSpacing, customClass } = Astro.props
---
<div class:list={[`w-full text-center ${fontWeight ? fontWeight : 'font-normal'} ${fontSize ? fontSize : 'text-sm'} ${letterSpacing ? letterSpacing : 'trackingWide'}
        py-2 rounded-full ${fontColor ? fontColor : 'text-sextiary/90'} glass-small-card-border border-quintenary ${customClass}`]}
    >
    {title}
</div>

<style>
    .glass-small-card-border {
        border-width: 0.5px;
        border-color: rgba(34, 209, 238, 0.25);
        background-color: rgba(34, 209, 238, 0.04);
    }
</style>