---
import Layout from '../layouts/Layout.astro';
import Card from '../components/small-components/Card.astro';
---

<Layout title="Tucont">
	<h1 class="text-3xl font-bold underline text-white">
		Hello world!
	</h1>
</Layout>

<style>
	
</style>
