---
import FeatureCard from "./small-components/Feature-card.astro";
---
<section class="container mx-auto py-14">
    <div class="ssm:px-2 sm:px-14 md:px-0">
        <FeatureCard title="Nossa cultura" fontWeight="text-sm" fontSize="font-normal" fontColor="text-quaternary" customClass="max-w-[150px] mb-8"></FeatureCard>
    </div>
    <div class="ssm:px-2 sm:px-14 md:px-0">
        <h1 class="w-fit font-extrabold text-5xl text-sextiary/80">
            Tucont
            <div class="h-2 rounded-full bg-gradient-to-r from-quaternary from-30% to-secondary to-70%"></div>
        </h1>
        <p class="mt-4 md:mt-6 text-xl font-medium text-sextiary/80">
            Conheça um pouco do nosso propósito
        </p>
    </div>
    <div class="w-full h-full flex flex-col md:flex-row pt-14">
        <div class="w-full md:w-2/5">
            <div class="mx-auto max-w-[400px] py-8 flex justify-center card-tucont h-full">
                <img src="/icons/mascote.svg" alt="Tucont">
            </div>
        </div>
        <div class="w-full md:w-3/5 mt-12 md:mt-0">
            <div class="text-center md:text-left max-w-[400px] h-full flex flex-col justify-evenly mx-auto md:mx-12 text-sextiary/80 font-semibold">
                <p>
                    O Tucano, por ter um bico grande consegue se alimentar de grandes frutos, fazendo que seja um dos principais dispersores de sementes do planeta. Essa contribuição é essencial para <span class="font-black text-quaternary">criar, regenerar e diversificar grandes florestas,</span> aumentando o número de árvores e a variedade nos ecossistemas.
                </p>
                <br>
                <p>
                    O Tucont simboliza o nosso compromisso em auxiliar no <span class="font-extrabold text-quaternary">nascimento, regeneração e diversidade</span> nas árvores do <span class="underline decoration-2 underline-offset-2 decoration-quaternary">empreendedorismo</span> brasileiro
                </p>
            </div>
        </div>
    </div>
</section>
<style>
    .card-tucont {
        border-radius: 40px 100px 40px 40px;
        border: 2px solid rgba(4, 0, 255, 0.56);
        background: rgb(34,209,238);
        background: linear-gradient(200deg, rgba(34,209,238, 0.15) 10%, rgba(31,66,135, 0.1) 70%);
        box-shadow: 0 8px 32px 0 rgba( 34,209,238, 0.05 );
        backdrop-filter: blur( 12px );
        -webkit-backdrop-filter: blur( 12px );
    }
</style>