---
import CardMidNeon from "./small-components/Card-mid-neon.astro";
import FeatureCard from "./small-components/Feature-card.astro";

const features = [
    {
        title: 'Serviços contábeis',
        description: 'Na <strong>Tucont</strong> você tem direito a Contabilidade e Paralegal as a service, além de BPO financeiro',
        svg: '/icons/shop.svg',
        customClass: 'mx-auto'
    },
    {
        title: 'Serviços contábeis',
        description: 'Tenha módulos para gestão financeira, emissão de notas fiscais e estoque',
        svg: '/icons/pc.svg',
        customClass: 'mx-auto'
    },
    {
        title: 'Data analytics',
        description: 'Tenha relatórios completos para medir a saúde do seu negócio com nossos módulos de Cashflow e DRE',
        svg: '/icons/relatorios.svg',
        customClass: 'mx-auto'
    },
]
---
<section class="py-10">
    <div class="container mx-auto">
        <div class="ssm:px-2 sm:px-14 md:px-0">
            <div class="">
                <FeatureCard title="Features" fontWeight="text-sm" fontSize="font-normal" fontColor="text-quaternary" customClass="max-w-[120px] mb-8"></FeatureCard>
            </div>
            <div class="mt-8">
                <h1 class="flex flex-col ssm:text-3xl sm:text-4xl md:text-5xl font-extrabold text-sextiary/80">
                    A plataforma de
                    <span class="text-transparent bg-clip-text bg-gradient-to-r from-quaternary from-10% via-secondary via-30% to-quintenary to-60%">
                        serviços contábeis <span class="text-quaternary/90">+</span> software contábil.
                    </span>
                </h1>
                <p class="mt-4 md:mt-6 text-xl font-medium text-sextiary/80">
                    Estamos aqui para <span class="font-extrabold">elevar o fluxo de trabalho da sua empresa</span>
                </p>
            </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8 justify-items-stretch mt-16">
            {
                features.map((feature) => (
                    <CardMidNeon title={feature.title} description={feature.description} svg={feature.svg} customClass={feature.customClass}></CardMidNeon>
                ))
            }
        </div>
    </div>
</section>
