---
---
<header class="flex flex-col sticky top-0 z-10 bg-rich-black">
    <div class="flex justify-between container mx-auto py-4">
        <img src="tucont-logo.png" alt="Logo" />
        <div class="flex space-x-8 items-center divide-quaternary/40 divide-x-2 text-quaternary/80 font-medium text-sm bg-quaternary/5 border-quaternary/30 border-[0.75px] rounded-lg">
            <a href="" class="flex justify-center text-center w-40">Partners</a>
            <a href="" class="flex justify-center text-center w-40">Ecossistema</a>
        </div>
    </div>
    <div class="separate-line h-[1px] w-full"></div>
</header>
<style>
    .separate-line {
        background: rgb(226,243,245);
        background: linear-gradient(90deg, rgba(226,243,245,0) 0%, rgba(34,209,238,1) 50%, rgba(255,255,255,0) 100%);
    }
</style>