---
import { Image } from "astro:assets";


import apple from '../images/icons/apple.svg'
import playStore from '../images/icons/play-store.svg'
import desktop from '../images/icons/desktop.svg'

const platforms = [
    {
        label: 'App Store',
        icon: apple
    },
    {
        label: 'Play Store',
        icon: playStore
    },
    {
        label: 'Desktop',
        icon: desktop
    }
]
---
<section class="py-14 bg-[url('/line-bg.svg')] bg-no-repeat bg-cover bg-bottom">
    <div class="flex flex-col space-y-8 container mx-auto">
        <div class="ssm:px-2 sm:px-14 md:px-0">
            <h1 class="flex flex-col ssm:text-3xl sm:text-4xl md:text-5xl font-extrabold text-sextiary/80">
                Em breve para
                <span class="text-transparent bg-clip-text bg-gradient-to-r from-quaternary/80 to-secondary/80">todas as plataformas</span>
            </h1>
        </div>
        <div class="flex justify-center">
            <div class="grid grid-cols-1 space-y-8 md:space-y-0 md:space-x-8 md:grid-cols-3">
                {
                    platforms.map((item) => (
                        <div class="flex space-x-4 lg:space-x-6 items-center p-2 rounded-xl card-platforms">
                            <Image src={item.icon} alt={item.label} />
                            <h2 class="font-bold text-sextiary/80 text-2xl lg:text-4xl">{item.label}</h2>
                        </div>
                    ))
                }
            </div>
        </div>
        <div class="flex justify-center text-sextiary/80">
            <div class="flex flex-col space-y-6 bg-oxford-blue/10 border-quaternary/20 border-[0.5px] rounded-xl card-lead p-12">
                <div class="flex flex-col">
                    <h1 class="text-xl lg:text-3xl font-extrabold">Quer fazer parte desse ecossistema?</h1>
                    <p class="text-base lg:text-lg mt-1">Se inscreva na nossa lista de espera</p>
                </div>
                <form class="flex flex-col justify-center lg:flex-row">
                    <div class="pl-4 border-quaternary/30 border-[0.7px] rounded-lg h-10 lg:rounded-none lg:rounded-l-xl flex items-center w-full lg:w-8/12">
                        <input type="email" required class="focus:outline-none bg-transparent flex-grow placeholder:text-sextiary/30 font-medium" placeholder="E-mail">
                    </div>
                    <button type="submit" class="text-white font-semibold bg-primary p-2 mt-2 rounded-xl lg:rounded-none lg:rounded-r-xl lg:mt-0">Junte-se ao futuro</button>
                </form>
            </div>
        </div>
    </div>
</section>

<style>
    .card-platforms {
        background: rgb(31,66,135, 0.2);
        background: linear-gradient(135deg, rgba(31,66,135,0.16) 0%, rgba(255,255,255,0.08) 100%);
        border-image: linear-gradient(180deg, rgba(34,209,238,1) 0%, rgba(34,209,238,0) 100%);
        border-style: solid;
        border-width: 0.5px;
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 3px );
        -webkit-backdrop-filter: blur( 3px );
    }

    .card-lead {
        backdrop-filter: blur( 5px );
        -webkit-backdrop-filter: blur( 5px );
    }
</style>