---

const vantagens = [
    {
        numero: '20+',
        descricao: `<span class="font-extrabold">Contadores a disposição</span>
                    para o seu empreendimento`,
    },
    {
        numero: '12',
        descricao: `<span class="font-extrabold">Módulos</span>
                    para facilitar a gestão da sua contabilidade e do seu negócio `,
    },
    {
        numero: '100%',
        descricao: `Tenha a disposição qualquer <span class="font-extrabold">serviço contábil</span> necessário para a sua empresa`,
    },
]
---
<section class="container mx-auto py-14 bg-[url('/dotted-bg.svg')]">
    <div class="ssm:px-2 sm:px-14 md:px-0">
        <h1 class="flex flex-col ssm:text-3xl sm:text-4xl md:text-5xl font-extrabold text-sextiary/80">
            Mais que uma ferramenta,
            <span>
                seremos sua <span class="text-transparent bg-clip-text bg-gradient-to-r from-quaternary from-20% to-secondary to-65%">parceira contábil.</span>
            </span>
        </h1>
        <p class="mt-4 md:mt-6 text-xl font-medium text-sextiary/80">
            Foque nos objetivos do seu negócio e deixe a burocracia da sua contabilidade conosco.
        </p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-8 justify-items-stretch md:mt-16 py-16">
        {
            vantagens.map((vantagem) => (
                <div class="flex flex-col justify-between card-numeros p-12 w-[311px] md:w-[400px] h-[400px] mx-auto md:mx-0">
                    <h2 class="font-bold text-transparent text-6xl md:text-7xl bg-clip-text bg-gradient-to-b from-sextiary to-quaternary">
                        {vantagem.numero}
                    </h2>
                    <div class="h-[150px]">
                        <p set:html={vantagem.descricao} class="text-xl font-medium text-sextiary/80"></p>
                    </div>
                </div>
            ))
        }
    </div>
</section>
<style>
    .card-numeros {
        background: rgba( 6, 8, 30, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4.5px );
        -webkit-backdrop-filter: blur( 11.5px );
        border-radius: 50px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
</style>