---
// const 
---
<section class="container mx-auto py-10 bg-[url('/icons/dotted-bg.svg')] h-[800px]">
    <h1 class="flex flex-col ssm:text-3xl sm:text-4xl md:text-5xl font-extrabold text-sextiary/80">
        Mais que uma ferramenta,
        <span>
            seremos sua <span class="text-transparent bg-clip-text bg-gradient-to-r from-quaternary from-20% to-secondary to-65%">parceira contábil.</span>
        </span>
    </h1>
    <p class="mt-4 md:mt-6 text-xl font-medium text-sextiary/80">
        Foque nos objetivos do seu negócio e deixe a burocracia da sua contabilidade conosco.
    </p>
    <div class="py-16">
        <div class="card-numeros p-8">
            <h2 class="font-extrabold text-transparent text-8xl bg-clip-text bg-gradient-to-b from-purple-400 to-pink-600">
                20+
            </h2>
    
        </div>
    </div>
</section>
<style>
    .card-numeros {
        background: rgba( 6, 8, 30, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4.5px );
        -webkit-backdrop-filter: blur( 11.5px );
        border-radius: 35px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
</style>